@if (TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @* <div class="alert alert-success alert-dismissible fade show" role="alert">@TempData["success"]</div> *@
        <script>
            toastr.success('@TempData["success"]')
        </script>
}

@if (TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @* <div class="alert alert-danger alert-dismissible fade show" role="alert">@TempData["error"]</div> *@
    <script>
        toastr.success('@TempData["error"]')
    </script>
}